
 # Dependency

  - name: Install dependencies
    apt:
      pkg:
      - apt-transport-https
      - ca-certificates
      - curl
      - gnupg-agent
      - software-properties-common

 # Checks

 # Commands

  - name: Register lsb_release
    become: false
    local_action: command lsb_release -cs
    register: lsb_release
  - name: Register uname_s
    become: false
    local_action: command uname -s
    register: uname_s
  - name: Register uname_m
    become: false
    local_action: command uname -m
    register: uname_m


  - name: Add docker gpg key
    apt_key:
      url: https://download.docker.com/linux/ubuntu/gpg
      state: present

  - name: Add the Docker APT repository
    apt_repository:
      repo: deb [arch=amd64] https://download.docker.com/linux/ubuntu {{ lsb_release.stdout }} test

  - name: Install docker
    apt:
      pkg:
      - docker-ce
      - docker-ce-cli
      - containerd.io

  - name: Install docker-compose
    command: curl -L "https://github.com/docker/compose/releases/download/1.27.3/docker-compose-{{ uname_s.stdout }}-{{ uname_m.stdout  }}" -o /usr/local/bin/docker-compose

  - name: Set docker-compose permissions
    file:
      dest: /usr/local/bin/docker-compose
      mode: +x

  - name: Create docker group if not exists
    group:
      name: docker
      state: present
