
 # Dependency

  - name: Install dependencies
    apt:
      pkg:
      - software-properties-common

 # Checks

 # Commands

  - name: Add the PHP APT repository
    apt_repository:
      repo: 'ppa:ondrej/php'

  - name: Install PHP 7.4
    apt:
      pkg:
      - php7.4
