
 # Dependency

  - name: Install dependencies
    apt:
      pkg:
      - curl
      - vim
    tags:
    - global

 # Checks

  - name: Check if global vimrc exists
    stat:
      path: '/usr/local/src/vimrc'
    register: vimrc
    tags:
    - global

 # Commands

  - name: Clone vimrc repo
    git:
     repo: 'https://github.com/petrzpav/vimrc'
     dest: '/usr/local/src/vimrc'
    tags:
    - global

  - name: Add global vimrc link
    file:
      src: '/usr/local/src/vimrc/vimrc'
      dest: '/etc/vim/vimrc'
      state: link
    when: not vimrc.stat.exists
    tags:
    - global

  - name: Add global vimrc.local link
    file:
      src: '/usr/local/src/vimrc/vimrc.local'
      dest: '/etc/vim/vimrc.local'
      state: link
    when: not vimrc.stat.exists
    tags:
    - global
